.Header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Header .Logo{
    padding: 0px 10px;
    width: 200px;
    height: 100px;
}

.Header .Menu {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    flex-wrap: wrap;
}

.Header .Menu-Item {
    flex-direction: row;
    padding: 20px;
}

.Header .Menu-Item:hover{
    background-color: grey;
}