.Registrar form{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Registrar form input{
    padding: 10px;
}

.Registrar .hidden {
    display: none;
}

.Registrar .block {
    margin: 10px;
}